<body>

    <!-- Main section -->
    <main>

        <!-- New member form -->
        <h2>Ajouter un(e) Argonaute</h2>
        <form class="new-member-form" [formGroup]="argonautForm">
            <label for="name">Nom de l&apos;Argonaute</label>
            <input id="name" name="name" type="text" placeholder="Nom de l'argonaute" formControlName="argonauteName" />
            <div *ngIf="argonautForm.controls['argonauteName'].invalid &&
                        (argonautForm.controls['argonauteName'].dirty || argonautForm.controls['argonauteName'].touched)">
                <div *ngIf="argonautForm.controls['argonauteName'].errors.required" style="color: red;">
                    Inserer un Nom SVP
                </div>
            </div>
            <button type="submit" (click)="addArgonaute(argonautForm.value)">Envoyer</button>
        </form>

        <!-- Member list -->

        <h2>Membres de l'équipage</h2>

        <section style="margin: 25px 25px 25px 25px;">
            <div class="member-list">
                <div *ngFor="let t of argonautes" class="member-item">
                    {{t.argonauteName}}
                </div>
            </div>
        </section>

    </main>

</body>