@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
}


h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 2em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

input{
  margin-right: 15px;
  display: inline-block;
  text-align: center;
}

.member-list {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 1em;
  margin-bottom: 50px;
  margin-top: 50px;
}

.member-item {
  text-align: center;
  padding: 1em;
  background-color: rgb(238, 238, 238);
}